.movie__page {
  margin-top: 3rem;
  .section__header {
    h1 {
      padding-bottom: 2rem;
      font-size: 2.4rem;
    }

    form {
      min-height: 45px;
      width: 100%;

      div {
        position: relative;
        svg {
          height: 35px;
          position: absolute;
          margin-left: 5px;
          top: 50%;
          margin-top: auto;
          margin-bottom: auto;
          transform: translateY(-50%);
        }
        input {
          border: none;
          min-width: 250px;
          width: 30%;
          line-height: 45px;
          font-size: 1rem;
          padding-left: 45px;
          box-shadow: inset 0 0 0.5em lightgray, 0 0 0.5em lightcoral;
        }
      }
      button {
        border: none;
        cursor: pointer;
        line-height: 45px;
        background-color: transparent;
        padding: 0 20px;
      }
    }
  }

  .card__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    div {
      padding: 1rem 1rem;
      a {
        text-decoration: none;
        color: black;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover img {
          transform: scale(1.1);
          transition: 0.4s ease all;
        }
        &:hover figure {
          box-shadow: inset 0 0 0.5em lightgray, 0 0 0.5em lightcoral;
          transition: 0.4s ease all;
        }

        figure {
          // background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 1rem;
          width: 310px;

          figcaption {
            max-width: 270px;
          }

          .card_ing__wrapper {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            // max-width: 50%;
            padding: 0;
            margin: 1rem 0;

            height: 400px;
            // width: calc(400px * (10/16));
            width: 270px;
          }
          img {
          }
        }
      }
    }
  }
}
