.dark__theme {
  color: white !important;
  background-color: gray !important;
}

.light__theme {
  color: black !important;
  background-color: lightgray !important;
}

.max_width {
  text-align: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
