.top__socials {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  div {
    height: 100%;
    display: flex;
    align-items: center;
    .social__item {
      padding: 0 1rem;
    }
  }
}

header {
  &.nav__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 2px lightcoral solid;
    nav {
      width: 100%;
      margin: 0 1rem;

      ul.nav__list {
        display: flex;
        line-height: 3rem;
        li {
          list-style: none;
          display: block;
          height: 100%;

          .nav-Link {
            &.active {
              color: lightcoral;
            }
          }

          a {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 1.5rem;
            color: inherit;
            text-transform: uppercase;
            font-size: 1.4rem;

            &:hover {
              color: lightcoral;
              transition: 0.2s all;
            }
          }
        }
      }
    }
    .toogle__button {
      font-size: 2rem;
      cursor: pointer;
      padding: 1rem;
      margin-right: 1rem;
      &:hover {
        color: lightcoral;
        transition: 0.2s all;
      }
    }
  }
}

.mobile_menu__wrapper {
  background-color: white;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: column;
  .mobile_menu {
    height: 80%;
    width: 80%;
    margin: auto;

    .toggle_mobile__button {
      text-align: right;
      height: 3em;
      svg {
        font-size: 2.4rem;
        cursor: pointer;
        &:hover {
          color: lightcoral;
          transition: 0.2s all;
        }
      }
    }
    .mobile_nav__list {
      margin-top: 1rem;
      li {
        list-style: none;
        // height: 2rem;
        text-align: center;
        padding: 1rem 0;
        a {
          color: black;
          text-decoration: none;
          height: 100%;
          // width: 100%;
          // display: block;
          font-size: 2rem;
          box-sizing: border-box;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          font-weight: 500;
          &:hover {
            color: lightcoral;
            transition: 0.2s all;
          }
        }
      }
    }
  }
}
