.settings__page {
  margin-top: 3rem;
  h1 {
    padding-bottom: 2rem;
    font-size: 2.4rem;
  }
  .content {
    margin-top: 40px;
    .settings__container {
      margin: 4rem auto;
      width: 80%;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 1.4rem;

      .settings__item {
        height: 40px;
        button {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-color: transparent;
          &:hover{
            box-shadow: inset 0 0 0.5em lightgray, 0 0 0.5em lightcoral;
            transition: 0.2s all;
          }
        }
      }
    }
  }
}
